{% extends 'base.html' %}

{% block title %} Cheeses: {{ cheese.name }} {% endblock %}

{% block content %}
<h2>{{ cheese.name }}</h2>
{% if cheese.firmness %}
    <p><b>Firmness:</b> {{cheese.get_firmness_display }}</p>
{% endif %}
{% if cheese.description %}
    <p>{{cheese.description}}</p>
{% endif %}

{% if cheese.country_of_origin %}
    <p><b>Country of origin:</b> {{cheese.country_of_origin.name}}
    <img src="{{cheese.country_of_origin.flag}}" alt="flag" /></p>
{% endif %}

<hr/>

<h3>Submitted by
    <a href="{% url 'users:detail' cheese.creator.username %}">
      {{ cheese.creator.username }}
    </a>
</h3>

{% if cheese.creator.username %}
    <p>{{ cheese.creator.username }}</p>
{% endif %}

{% endblock content %}